<header>
    <a class="backButton fa fa-angle-right fa-flip-horizontal" data-pressed="true"></a>
    <h1 class="pageTitle">@我的</h1>
</header>

<div id="J_atme_wall_wrap" class="scroll_wrap">
    <ul id="J_atme_wall" class="waterfall_wall cfx" dataUri="" triggerBar='#J_atme_wall_triggerBar' pageBar ="#J_atme_wall_pageBar"  
         relWrap='#J_atme_wall_wrap' feedRcd='note_f' renderFunc='$.atmeBook.renderAtmes' allLoaded="n" isLoading='n' page="1" spage="0"  
		 sort="id" even-height="true" noDataMsg="<i class='fa fa-smile-o'></i>暂无@消息" 
    >
    </ul>
    <div id="J_atme_wall_triggerBar" class="triggerbar" data-pressed="true">加载更多</div>
    <div id="J_atme_wall_pageBar" class="pagebar">
        <a class="switchpage prev fa fa-angle-right fa-flip-horizontal" data-pressed="true"></a>
        <a class="curpage">0</a>
        <a class="switchpage next fa fa-angle-right" data-pressed="true"></a>
    </div>
</div>
