<style type="text/css">
#afui #setting_password {background:#fff;}
</style>
<header>
    <a class="backButton fa fa-angle-right fa-flip-horizontal" data-pressed="true"></a>
    <h1 class="pageTitle">修改密码</h1>
    <a class="fa fa-check JvvComSubmitBtn" data-pressed="true" vv-form="#JsettingPasswordForm"></a>
</header>
<div class="pgFrmBox">
    <form id="JsettingPasswordForm" action="/?m=user&a=password" method="post">
        <div class="frm_i"><input name="oldpassword" class="gray_text" type="password" placeholder="输入当前密码"></div>
        <div class="frm_i"><input name="password" class="gray_text" type="password" placeholder="输入新密码(6-20位字符)"></div>
        <div class="frm_i"><input name="repassword" class="gray_text" type="password" placeholder="确认新密码"></div>
    </form>
</div>
