<style type="text/css">
#J_sp_fan_wall_wrap {top:0; bottom:0;}
</style>

<header>
    <a class="backButton fa fa-angle-right fa-flip-horizontal" data-pressed="true"></a>
    <h1 class="pageTitle">粉丝</h1>
</header>

<div id="J_sp_fan_wall_wrap" class="scroll_wrap">
    <ul id="J_sp_fan_wall" class="waterfall_wall user_list" dataUri="" triggerBar='#J_sp_fan_wall_triggerBar' pageBar ="#J_sp_fan_wall_pageBar"  
         relWrap='#J_sp_fan_wall_wrap' feedRcd='user_rcdl' renderFunc='$.spFanBook.renderFans'
         masonry="n" cols="1" wOffX="0" wOffY="0" wWallPad="0" wRcdWd="0"
    >
    </ul>
    
    <div id="J_sp_fan_wall_triggerBar" class="triggerbar" data-pressed="true">加载更多</div>
    <div id="J_sp_fan_wall_pageBar" class="pagebar">
        <a class="switchpage prev fa fa-angle-right fa-flip-horizontal" data-pressed="true"></a>
        <a class="curpage">0</a>
        <a class="switchpage next fa fa-angle-right" data-pressed="true"></a>
    </div>
</div>
