<header>
    <a class="backButton fa fa-angle-right fa-flip-horizontal" data-pressed="true"></a>
    <h1 class="pageTitle">吃群</h1>
</header>

<div class="hrz_slide_wrap">
    <ul class="hrz_slide" id="J_sp_grpsub_tabs">
        <li type="all" class="on"><i class="who">我</i>的群动态</li>
        <li type="mypub"><i class="who">我</i>发表的</li>
        <li type="reply"><i class="who">我</i>回应的</li>
        <li type="collect"><i class="who">我</i>收藏的</li>
        <li type="owngrp"><i class="who">我</i>管理的群</li>
        <li type="joingrp"><i class="who">我</i>加入的群</li>
    </ul>
</div>

<div id="J_sp_grpsub_wall_wrap" class="scroll_wrap">
    <ul id="J_sp_grpsub_wall" class="waterfall_wall cfx" dataUri="" triggerBar='#J_sp_grpsub_wall_triggerBar' pageBar ="#J_sp_grpsub_wall_pageBar"  
         relWrap='#J_sp_grpsub_wall_wrap' feedRcd='' renderFunc='' 
         allLoaded="n" isLoading='n' page="1" spage="0"
         masonry="y" cols="2" wOffX="6" wOffY="6" wWallPad="6" wRcdWd="0" wRate="0" delta="n"
         sort="collects"
    >
    </ul>
    <div id="J_sp_grpsub_wall_triggerBar" class="triggerbar" data-pressed="true">加载更多</div>
    <div id="J_sp_grpsub_wall_pageBar" class="pagebar">
        <a class="switchpage prev fa fa-angle-right fa-flip-horizontal" data-pressed="true"></a>
        <a class="curpage">0</a>
        <a class="switchpage next fa fa-angle-right" data-pressed="true"></a>
    </div>
</div>
