<style type="text/css">
#topic_detail #J_topic_dtl_wrap {position:absolute;top:0;bottom:45px;left:0;right:0;}
#topic_detail #J_topic_dtl_wrap> div:first-child {padding-bottom:10px;background: #fff;}

#afui #topic_detail .talk_f {border:none;}

#topic_detail .ckjbox {padding:10px; margin:15px 10px; background:#efefef;}
#topic_detail .sumcmts .J_tocmt {background:#fff;}

#topic_detail .dryops {position:absolute;bottom:0;left:0;right:0;height:45px; line-height:45px;background:#fffdf5;border-top:1px solid #00b000;}
#topic_detail .dryops a{display:block;height:100%;text-align:center;color: #9f9f9f;}
#topic_detail .dryops a.pressed *{color:#333;}
#topic_detail .dryops a .fa { display: block; font-size:18px; position:relative; top: 7px; }
#topic_detail .dryops a .fa e{font-size:12px;padding-left:1px; position:relative; bottom:3px; }
#topic_detail .dryops a span{ display: block; position:relative; bottom: 8px;  font-size: 10px; }

#afui.ios #topic_detail .dryops {height:48px; line-height:48px; border-top: 1px solid #aaa;}
#afui.ios #topic_detail .rciops a .fa { font-size: 18px; }
#afui.ios #recipe_detail .rciops a span { bottom: 8px;}
#afui.ios8 #topic_detail .dryops {border-width:0.5px;}
</style>

<div id="J_topic_dtl_wrap">
    <ul class="topic_cnt">
        
    </ul>
    
    <div class="ckjbox sumcmts">
        <ul id="J_topic_dt_cmts">
        </ul>
        <a class="J_tocmt" data-pressed="true" data-transition="slide" tourl="#comment_book/topic/233003">查看所有<i class="J_n num">&nbsp;</i>回应
        </a>
    </div>
</div>
    
<div id="J_topic_ops" class="dryops f-f f-vc">
</div>